config.py
config
dist
build
logs
ben_config.txt
config_default.txt
myconfig.txt
notes.txt
bens_config.txt
bensconfig.txt
my_config.txt

__pycache__


*.vscode
*.pyc
*.code-workspace
*.json
*.spec
*.exe